<google-map
  height="400px"
  width="80vw"
  (mapClick)="moveMap($event)"
  [center]="center"
  [zoom]="zoom"
  [options]="options"
>
  <map-marker
    *ngFor="let airplanePosition of currentFleetPositions"
    [options]="airplanePosition | planeMarker"
    #marker="mapMarker"
    (mapClick)="openInfoWindow(marker)"
  >
  </map-marker>
  <map-info-window *ngFor="let airplane of currentFleetPositions">
    Altitude : {{airplane.altitude_m}}m,<br>
    Airspeed: {{airplane.speed_kph}}kph
  </map-info-window>
</google-map>
