<div class="page">
  <div class="map">
  <!-- map is a child of plane-dashboard, pass flight data from parent to child -->
    <google-map-demo [currentFleetPositions]="currentFleetPositions" ></google-map-demo>
  </div>
  <!-- table for displaying flight data -->
  <table mat-table [dataSource]="currentFleetPositions" class="mat-elevation-z8 flight_table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.airplane_id}} </td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{formatLatLong(element.latitude_deg)}}N,&nbsp; {{formatLatLong(element.longitude_deg)}}W </td>
    </ng-container>
    <ng-container matColumnDef="altitude">
      <th mat-header-cell *matHeaderCellDef> Altitude </th>
      <td mat-cell *matCellDef="let element"> {{element.altitude_m | number: '1.1-2' }}m</td>
    </ng-container>
    <ng-container matColumnDef="speed">
      <th mat-header-cell *matHeaderCellDef> Airspeed </th>
      <td mat-cell *matCellDef="let element"> {{element.speed_kph | number: '1.1-1' }}kph </td>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="['name', 'position', 'altitude', 'speed']">
    </tr>
    <tr
      mat-row
      (click)="showMarker(row.airplane_id)"
      *matRowDef="let row; columns: ['name', 'position', 'altitude', 'speed'];"
    ></tr>
  </table>
</div>




